/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.btn-comprar {
    padding-top: 10%; /* Define o espaço superior */
    display: flex; /* Transforma a div em um flex container */
    align-items: center; /* Centraliza verticalmente os itens filhos */
    justify-content: center; /* Centraliza horizontalmente os itens filhos */
}

.btn-comprar button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff6eca;
    color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #000;
    font-size: 38px;
    text-align: center;
    line-height: 1;
}

h2.titulo span{
    color: #ff6eca;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #171a4a;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO*/
header{
    padding: 0px 4%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #000;
    font-weight: 200;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

body {
}

.btn-comprar button:hover{
    box-shadow: 0px 0px 8px #ff61c2;
    transform: scale(1.05);
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
    text-align: center;

}

.topo-do-site .txt-topo-site h1 span{
    color: #ff6eca;
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 20px auto; /* Margem automática nas laterais para centralizar */
    text-align: center; /* Justificar o texto */
    max-width: 500px; /* Largura máxima para manter o texto centralizado */
}

.topo-do-site .txt-topo-sitecontato h1 span{
    color: #ff6eca;
}

.topo-do-site .txt-topo-sitecontato p{
    color: #000000;
    margin: 20px auto; /* Margem automática nas laterais para centralizar */
    text-align: center; /* Justificar o texto */
    max-width: 500px; /* Largura máxima para manter o texto centralizado */
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/*ESTILO RAÇÕES BOX*/
section.racoes{
    padding: 40px 4%;
}

section.racoes .flex{
    gap: 60px;
}

.racoes .racoes-box{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
    transition: .2s;
    cursor: pointer;
    text-align: center;
}

.racoes .racoes-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00000081;
}

.racoes .racoes-box i{
    font-size: 70px;
    color: #ff6eca;
}

.racoes .racoes-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.btn-comprar button:hover{
    box-shadow: 0px 0px 8px #ff6eca;
    transform: scale(1.05);
    align-content: center;
}

html{
    scroll-behavior: smooth;
}

.banho_tosa {
    width: 0 auto; /* Defina a largura da sua div */
    margin: 0 auto; /* Isso vai centralizar horizontalmente */
}
h3 {
    text-align: center; /* Alinha o texto centralmente */
}

 /* Estilos da tabela */
 table {
    width: 0 auto; /* Define a largura da tabela */
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ff6eca;
    font-family: Arial, sans-serif;
  }
  th, td {
    border: 1px solid #ff6eca;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #ffb7e5;
  }
  tr:nth-child(even) {
    background-color: #ffb7e5;
  }
  /* Estilos para destacar a linha selecionada */
  .selected {
    background-color: #ffb7e5 !important;
  } 

/*ESTILO BRINQUEDOS BOX*/
section.brinquedos{
    padding: 40px 4%;
}

section.brinquedos .flex{
    gap: 60px;
}

.brinquedos .brinquedos-box{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
    transition: .2s;
    cursor: pointer;
    text-align: center;
}

.brinquedos .brinquedos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00000081;
}

.briquedos .brinquedos-box i{
    font-size: 70px;
    color: #ff6eca;
}

.brinquedos .brinquedos-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.btn-comprar button:hover{
    box-shadow: 0px 0px 8px #ff6eca;
    transform: scale(1.05);
    align-content: center;
}

html{
    scroll-behavior: smooth;
}

/*ESTILO ROUPAS BOX*/
section.roupas{
    padding: 40px 4%;
}

section.roupas .flex{
    gap: 60px;
}

.roupas .roupas-box{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
    transition: .2s;
    cursor: pointer;
    text-align: center;
}

.roupas .roupas-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00000081;
}

.roupas .roupas-box i{
    font-size: 70px;
    color: #ff6eca;
}

.roupas .roupas-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.btn-comprar button:hover{
    box-shadow: 0px 0px 8px #ff6eca;
    transform: scale(1.05);
    align-content: center;
}

html{
    scroll-behavior: smooth;
}

/*BG TOPO DO SITE*/
.header-with-bg {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura semi-transparente */
}



.header-with-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fundo.jpg'); /* Substitua pelo caminho da sua imagem escura */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.menu-desktop {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo escura com transparência */
    padding: 30px 70px; /* Adicione espaçamento interno ao menu */
    text-align: right;
}


.menu-desktopcontato {
    background-color: rgba(255, 228, 247, 0.5); /* Cor de fundo escura com transparência */
    padding: 30px 70px; /* Adicione espaçamento interno ao menu */
    text-align: right;
}

.menu-desktop ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-desktopcontato ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-desktop ul li {
    display: inline-block; /* Para que os itens do menu fiquem lado a lado */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.menu-desktopcontato ul li {
    display: inline-block; /* Para que os itens do menu fiquem lado a lado */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.menu-desktop ul li:last-child {
    margin-right: 0; /* Remove o espaçamento direito do último item do menu */
}

.menu-desktopcontato ul li:last-child {
    margin-right: 0; /* Remove o espaçamento direito do último item do menu */
}

.menu-desktop ul li a {
    text-decoration: none;
    color: #fff; /* Cor do texto */
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.menu-desktopcontato ul li a {
    text-decoration: none;
    color: #000000; /* Cor do texto */
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.menu-desktop ul li a:hover {
    opacity: 1;
}

.menu-desktopcontato ul li a:hover {
    opacity: 1;
}

.topo-do-site {
    color: #fff; /* Cor do texto */
    padding: 20px;
}

.interface {
    position: relative;
}

.txt-topo-site {
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.img-topo-site {
    width: 50%; /* Largura da imagem */
    float: right; /* Alinhar à direita */
}

/* ESTILO DO FORM DE CONTATO*/
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #40269625;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000;
    font: 18px;
}

form textarea{
    resize: none;
    max-width: 500px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #ff6eca;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

@media screen and (max-width: 1022px){

    section.topo-do-site {
        padding-top: 20px;
    }
}

/*ESTILO RODAPÉ*/
footer{
    padding: 0px 4%;
    box-shadow: 0 0 4px 10px #0000001e;
    text-align: center;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 0px 0;
}

.borda{
    border-top: 2px solid #171a4a;
}

.btn-whatsapp button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p{
    color: #fff;
}
.spacer {
    height: 90px;
}

#titulo {
    text-align: center;
    color: #000000;
}
.container {
    display: flex;
}

.form-container {
    flex: 1;
    margin-right: 10px; /* Espaço entre os elementos */
}

.mapa-redes-container {
    flex: 1;
}

.mapa-redes-container #map {
    height: 200px; /* Altura do mapa, ajuste conforme necessário */
    background-color: #f2f2f2; /* Cor de fundo temporária para o mapa */
}

.mapa-redes-container {
    position: relative;
}

#map {
    height: 400px;
    width: 100%;
}

.redes-sociais i {
    font-size: 50px; /* Tamanho do ícone */
    color: #000; /* Cor do ícone */
    margin: 0 10px; /* Espaçamento entre os ícones */
    align-items: center;

}
.redes-sociais {
    position: absolute;
    bottom: 40px; /* Ajuste a distância do fundo conforme necessário */
    left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Corrija a centralização */
    display: flex; /* Usando flexbox */
    align-items: center; /* Centralize verticalmente */
    width: 80%; /* Defina a largura para 80% da largura da tela */
    max-width: 800px; /* Defina uma largura máxima para evitar que a div fique muito grande em telas grandes */
    justify-content: space-between; /* Distribua os elementos uniformemente ao longo do eixo principal */
}


.texto {
    margin-right: 20px; /* Espaçamento entre o texto e os ícones */
    width: 50%; /* Defina a largura da div para 50% da largura da tela */
    text-align: center;
}

.texto h1,
.texto p {
    margin: 0; /* Remova as margens padrão */
    text-align: center;
}

.icones {
    display: flex; /* Usando flexbox para os ícones ficarem um ao lado do outro */
    color: #ff6eca; /* Cor do ícone */

}

.icones a {
    font-size: 50px; /* Tamanho do ícone */
    color: #ff6eca; /* Cor do ícone */
    margin-right: 10px; /* Espaçamento entre os ícones */
}

.texto span{
    color: #ff6eca;
}
.redes-sociais a i {
    color: #ff6eca; /* Define a cor dos ícones */
}








